.board-one{
  background-color: orange  ;
  border: 1px solid black;
  width: 30px;
  height: 30px;
}
.board-black{
  border-radius: 50%;
  display: flex ;
  justify-content: center ;
  align-items: center;

}

.boardtwo-one{
  background-color: blue  ;
  border: 1px solid black;
  width: 30px;
  height: 30px;
}
.board_one-grid{
 
  display: grid;
  width: 40%;
  margin: auto;
  inset: 0;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
  gap: 10px;
  justify-content: center;
}
.reset-button{
  width: 110px;
  height: 50px;
}
.report-winner{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app-class{
  margin-top: 30px;
  display: flex; 
  flex-direction: column ;
  row-gap: 50px;
}
.number-class{
  display: flex; 
  justify-content: center;
  align-items: center;
  
}
.word-class{
  position: absolute;
  right: 320px;
}
.board-two{
  background-color: pink;
  content: "💣";
  border: 1px solid black;
  width: 30px;
  height: 30px;
}
.board-three{
  background-color: pink ;
  border: 1px solid black;
  width: 30px;
  height: 30px;
}
.black-fire{
  background-color: black;
}
.miss-fire{
  background-color: aqua;
}
.whole-chart{
  display: flex;

  width: 100%;
  justify-content: center;
  align-items: center;
flex-direction: column;
}
.reading-help{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.board-game{
  border: 1px solid black ;
   box-shadow: 5px 5px 30px rgba(0,0,0,0.2), -5px -5px 30px rgba(0,0,0,0.1);
   width: fit-content;
   margin: auto;
   padding: 10px;
}
