@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
  
 .board-black{
   border-radius: 50%;
   display: flex ;
   justify-content: center ;
   align-items: center;
 
 }
  .board-one{
   justify-content: center;
   align-items: center;
   display: flex;
  border: 1px solid black;
  width: 20px;
  border-radius: 5px;
  height: 20px;
  background-color: hsla(0,0%,6%,.2);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

} 
@media screen and (min-width:500px) {
  .board-one{
    width: 35px;
    height: 35px;
  }
  
}
@media screen and (min-width:819px) {
  .board-one{
    width: 32px;
    height: 32px;
  }

  
}
 .boardtwo-one{
   background-color: blue  ;
   border: 1px solid black;
   width: 20px;
   height: 20px;
 }
 .board_one-grid{
   
  display: grid;
  width: 40%;
  margin: auto;
  inset: 0;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(10,1fr);
  gap: 5px;
  justify-content: center;
}
@media screen and (min-width:380px) {
  .board_one-grid{
    gap: 10px;
  }
  
}

 .reset-button{
   width: 110px;
   height: 50px;
 }
 .report-winner{
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 .app-class{
   margin-top: 30px;
   display: flex; 
   flex-direction: column ;
   row-gap: 50px;
 }
 .number-class{
   display: flex; 
   justify-content: center;
   align-items: center;
   
 }
 .word-class{
   position: absolute;
   right: 320px;
 }
 .board-two{
 
  
   border: 1px solid black;
   width: 30px;
   height: 30px;
 }
 .board-three{
  
   border: 1px solid black;
   width: 30px;
   height: 30px;
 }
 .black-fire{
   background-color: black;
 }
 .shadow-box{
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2), ;

 }
 
 .whole-chart{
   background-color: hsla(0,0%,6%,.2);
 
 background-size: cover; 
 background-repeat: no-repeat;
   display: flex;
   width: fit-content;
   padding: 14px;
   border-radius: 16px;
   margin: auto;
   justify-content: center;
   align-items: center;
 flex-direction: column;
 border: 1px solid white;
 
 }
 .reading-help{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 .board-game{
  
    width: 100%;
 
 }
 .hint-game, p{
   
   padding: 10px;
   color: white;
   font-weight: 500;
   white-space: nowrap;
 }
 .turn-player{
   display: flex;
 
   flex-direction: column;
 }
 .ship-picture{
   position: absolute;
   width: 100%;
   object-fit: cover;
   height: 100%;
   z-index: -1000;
   top: 0;
   left: 0
   
   ;
 }
 .link-style{
   text-decoration: none;
   font-weight: 500;
   width: 85px;
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 16px;
 
 }
 .banner-style{
 color: white;
 
 }
 .home-page{
   display: flex;
   width: 100%;
   flex-direction: column;
   justify-content: start;
 }
 .home-link{
   border: 1px solid white;
   box-shadow: 5px 5px 30px rgba(0,0,0,0.2), ;
   width: 80px;
   background: linear-gradient(#fff,#000);
  border-radius: 16px;
   padding: 10px;
 }

}
